################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MitchellClassLib/obj/Debug
*.suo
/packages
/MitchellWebAPI.Tests/obj/Debug
/.vs/MitchellClassLib/v15/Server/sqlite3
/MitchellWebAPI.Tests/bin/Debug
/MitchellClassLib/bin/Debug
